<% if flash.notice %>
  <%= flash.notice %>
<% end %>
<%= link_to 'Voltar', root_path %>

<p>
  <strong>Nome Completo:</strong>
  <%= @candidate.full_name %>
</p>

<p>
  <strong>Nome Social:</strong>
  <%= @candidate.social_name %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @candidate.cpf %>
</p>

<p>
  <strong>E-Mail:</strong>
  <%= @candidate.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @candidate.telephone %>
</p>

<p>
  <strong>Biografia:</strong>
  <%= @candidate.biography %>
</p>