<!DOCTYPE html>
<html>
  <head>
    <title>Rh</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if collaborator_signed_in? && !current_collaborator.company.registration_completed? && current_collaborator.admin? %>
    <p>Conclua o Cadastro da Empresa. Só assim poderá cadastrar vagas.</p>
    <%= link_to 'Concluir Cadastro', edit_company_path(current_collaborator.company)  %>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
